<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- <script type="text/javascript"></script> -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Covid-19 Vaccination</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/vaccinationCentres}">Vaccination Centre</a>
            </li>
            
          </ul>
        </div>
      </nav>
      <br>
      <br>
    <div class="container">

        <div class="row">
           
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-centre card">

                <h1 class="text-centre">Create new centre for vaccination</h1>
                <div class="card-body">
                    <form th:action="@{/vaccinationCentres}" th:object="${vaccinationcentre}" method="POST">
                        <div class="form-group">
                            <label>state</label>
                            <input type="text"
                            name="state"
                            th:field="*{state}"
                            class="form-control"
                            placeholder="Enter State">
                        </div>

                        <div class="form-group">
                            <label>city</label>
                            <input type="text"
                            name="city"
                            th:field="*{city}"
                            class="form-control"
                            placeholder="Enter city">
                        </div>


                        <div class="form-group">
                            <label>pincode</label>
                            <input type="text"
                            name="pincode"
                            th:field="*{pincode}"
                            class="form-control"
                            placeholder="Enter pincode">
                        </div>

                        <div class="form-group">
                            <label>locality</label>
                            <input type="text"
                            name="locality"
                            th:field="*{locality}"
                            class="form-control"
                            placeholder="Enter locality">
                        </div>


                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">
                                submit

                            </button>

                        </div>

                    </form>

                </div>
            </div>

        </div>

</body>
</html>
