 <!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script type="text/javascript"></script> 
 </head>

<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
         Brand 
        <!-- <a class="navbar-brand" href="#">Covid-19 Vaccination</a> -->
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/dashboard}">Dashboard</a>
            </li>
            
          </ul>
        </div>
      </nav>

    <div class="container">

        <div class="row">
            <h1>List</h1>

        </div>

        <div class="row"> 

             <div class="col-lg-3">
                <a th:href="@{/member/new}" class="btn btn-primary btn-sm mb-3">Add Member</a>

            </div> 

         </div>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">

                <tr>
                    <th>Name</th>
                    <th>dateOfBirth</th>
                    <th>pincode</th>
                    <th>state</th>
                    <th>gender</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <div th:if="${getall != null}">
               
                
                <tr th:each="dashboard: ${getall}">
                    
                    <td th:text  = "${dashboard.name}"></td>
                    <td th:text  = "${dashboard.dateOfBirth}"></td>
                    <td th:text  = "${dashboard.pincode}"></td>
                    <td th:text  = "${dashboard.state}"></td>
                    <td th:text  = "${dashboard.gender}"></td>
                <td>
                   
                    <a th:href="@{/appoint}">Schedule</a> 
                    <p style="color: red;">DOSE 1</p>
                    <!-- <a th:href="@{/vaccinationCentres/edit/{centreId}(centreId=${vaccinationcentre.centreId})}"
                    class="btn btn-primary" th:method="patch">Update</a>
                        
                    <a th:href="@{/vaccinationCentres/{centreId}(centreId=${vaccinationcentre.centreId})}"
                    class="btn btn-danger" th:method="delete">Delete</a> -->
                 </td>
                </tr>
            </tbody>

        </table>
    </div>


</body> 

</html> 



