 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>User Registration</title>
<script type="text/javascript"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    

    <div class="container">
      
        <div class="row">
           
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-centre card">

                <h1 class="text-centre">User Registration</h1>
                <div class="card-body">
                     <form th:action="@{/add}" th:object="${user}" method="POST">
                        <div class="form-group">
                            <label>Mobile</label>
                            <input type="text"
                            name="Mobile"
                            th:field="*{userMobile}"
                            class="form-control"
                            placeholder="Enter Mobile" required>
                        </div>



                        <script th:inline="javascript">
                          function generateOTP() {
                            var otp = Math.floor(Math.random() * 9000) + 1000;
                            // document.getElementById("otp-value").innerHTML = otp;
                           alert("Generated OTP: " + otp);
                           document.getElementById("otp-input").value = otp; 
                            console.log("Generated OTP: " + otp);
                            
                          }
                        </script>

<button type="button" class="btn btn-primary" onclick="generateOTP()">Generate OTP</button>
    
    <div class="form-group">
      <label for="otp">OTP code</label>
      <!-- <p id="otp-value"></p> -->
      <input type="text" class="form-control" th:field="*{otp}" id="otp-input" required placeholder="Enter the OTP code">
    </div>


                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">
                                submit

                            </button>

                        </div>

                    </form>

                </div>
            </div>

        </div>

     <!-- <div class="container">
        <h2>OTP Form</h2>
         <form th:action="@{/}" th:object="${user}" method="post">
          <div class="form-group">
            <label for="mobile">Enter your mobile number:</label>
            <input type="text" class="form-control" th:field="*{userMobile}" required>
          </div> -->
             <!-- <button type="button" class="btn btn-primary" onclick="sendOTP()">Get OTP</button> -->
          <!-- <div class="form-group">
            <label for="otp">Enter the OTP code:</label>
            <input type="hidden" th:field="*{otp}" >
             <input type="text" class="form-control" th:field="*{otp}" required> 
          </div>   -->



          <!-- Include Thymeleaf JavaScript library -->
 



<!-- <div class="form-group">
  <label for="otp">Enter the OTP code:</label>
  <input type="hidden" th:field="*{otp}" id="otp-value">
  <input type="text" class="form-control" th:field="*{enteredOtp}" required>
</div> -->



<!-- <div class="form-group">
  <label for="otp">Enter the OTP code:</label>

  
  
   <input type="text" class="form-control" th:field="*{otp}" required> 
</div>  -->


         <!-- <button type="submit" class="btn btn-success">Submit</button>   -->
        </form> 
      </div> 


     
</body>
</html>




 

 



