<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../templates/css/index.css">
</head>
<body>
    <nav id="nav">
        <div id="nav1">
            <img src="../templates/image/covid-logo.png" alt="">
        </div>
        <div id="nav2">
            <h5>ABHA</h5>
            <h5>DASHBOARD</h5>
            <h5>VERIFY CERTIFICATE</h5>
            <h5>PARTNERS</h5>
            <button>REGISTER/SIGN-IN</button>
        </div>
    </nav>
    <div id="part1">
       <div id="part1-p1">
        <div>
            <h1> Historic & Unparalleled Achievement ! India’s Glorious Journey of</h1>
        </div>
        <div>
            <img src="https://www.cowin.gov.in/assets/images/verified.svg" alt="">
            <h1>200 CRORE VACCINATIONS</h1>
        </div>
        <div>
            <h3>"India is set to defeat Covid-19. Every Indian is making it possible."</h3>
            <p>- PM Narendra Modi</p>
        </div>
       </div>
       <div id="part1-p2">
        <img src="https://www.cowin.gov.in/assets/images/independance.svg" alt="">
       </div>
    </div>
    <br><br>
    <h2 style="text-align: center;">Get Vaccinated in 3 Easy Steps</h2>
</body>
</html>