<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../templates/css/index.css" />
  </head>
  <body>
    <nav id="nav">
      <div id="nav1">
        <img src="../templates/image/covid-logo.png" alt="" />
      </div>
      <div id="nav2">
        <h5>ABHA</h5>
        <h5>DASHBOARD</h5>
        <h5>VERIFY CERTIFICATE</h5>
        <h5>PARTNERS</h5>
        <a href=" http://localhost:8888/register/new">REGISTER/SIGN-IN</a>
      </div>
    </nav>
    <div id="part1">
      <div id="part1-p1">
        <div>
          <h1>
            Historic & Unparalleled Achievement ! India’s Glorious Journey of
          </h1>
        </div>
        <div>
          <img
            src="https://www.cowin.gov.in/assets/images/verified.svg"
            alt=""
          />
          <h1>200 CRORE VACCINATIONS</h1>
        </div>
        <div>
          <h3>
            "India is set to defeat Covid-19. Every Indian is making it
            possible."
          </h3>
          <p>- PM Narendra Modi</p>
        </div>
      </div>
      <div id="part1-p2">
        <img
          src="https://www.cowin.gov.in/assets/images/independance.svg"
          alt=""
        />
      </div>
    </div>
    <br /><br /><br />
    <div id="part2-head">
      <h2 style="text-align: center">Get Vaccinated in 3 Easy Steps</h2>
    </div>
    <div id="part2">
      <div id="part2-p1">
        <div class="part2">
          <div>step-1</div>
          <div>
            <img
              src="https://www.cowin.gov.in/assets/images/Step_1.svg"
              alt=""
            />
          </div>
          <div>
            Book an appoinment on Co-WIN or walk into any vaccination center
          </div>
          <div>How to book your appoinment on Co-WIN?</div>
        </div>
        <div class="part2">
          <div>step-2</div>
          <div>
            <img
              src="https://www.cowin.gov.in/assets/images/Step_2.svg"
              alt=""
            />
          </div>
          <div>
            Get your vaccination safely at the time of your appointment
          </div>
          <div>Do's and Dont's for getting vaccinated?</div>
        </div>
        <div class="part2">
          <div>step-3</div>
          <div>
            <img
              src="https://www.cowin.gov.in/assets/images/Step_3.svg"
              alt=""
            />
          </div>
          <div>
            Download your vaccination certificate from Co-WIN and wait for Dose #2
          </div>
          <div>Download your vaccination certificate</div>
        </div>
      </div>
    </div>
    <br><br>
    <!-- FOOTER -->
<div id="footer">
  <div id="foot_logo">
    <div ><img src="../templates/image/covid-logo.png" alt=""></div>
  </div>

  <div>
    <div>
      <div class="foot-card1">
        <div class="foot-text"><b><u>Applications</u> </b></div>
      </div>
      <div class="foot-card1">
        <div class="foot-img"><img src="../templates/image/footer-card1.png" alt=""></div>
        <div class="foot-text">Desktop</div>
      </div>
      <div class="foot-card1">
        <div class="foot-img"><img src="../templates/image/apple.png" alt=""></div>
        <div class="foot-text">iOS</div>
      </div>
      <div class="foot-card1">
        <div class="foot-img"><img src="../templates/image/android.png" alt=""></div>
        <div class="foot-text">Android</div>
      </div>
      
    </div>
  </div>

  <div>
    <div>
      <div class="foot-card1">
        <div class="foot-text"><b> <u>Browser Extensions</u> </b></div>
      </div>
      <div class="foot-card1">
        <!-- <div class="foot-img"><img src="./Images/chrome.png" alt=""></div> -->
        <div class="foot-text">Chrome</div>
      </div>
      <div class="foot-card1">
        <!-- <div class="foot-img"><img src="./Images/firefox.png" alt=""></div> -->
        <div class="foot-text">Firefox</div>
      </div>
      <div class="foot-card1">
        <!-- <div class="foot-img"><img src="./Images/opera.png" alt=""></div> -->
        <div class="foot-text">Opera</div>
      </div>
      <div class="foot-card1">
        <!-- <div class="foot-img"><img src="./Images/edge.png" alt=""></div> -->
        <div class="foot-text">Edge</div>
      </div>
      <div class="foot-card1">
        <!-- <div class="foot-img"><img src="./Images/safari.png" alt=""></div> -->
        <div class="foot-text">Safari</div>
      </div>
      
    </div>
  </div>

  <div>
    <div>
      <div class="foot-card1">
        <div class="foot-text"><b><u>Resources</u> </b></div>
      </div>
      <div class="foot-card1">
        <div class="foot-text">Guidelines</div>
      </div>
      <div class="foot-card1">
        <div class="foot-text">Dos and Dont's</div>
      </div>
      <div class="foot-card1">
        <div class="foot-text">Overview</div>
      </div>
      <div class="foot-card1">
        <div class="foot-text">API Guidelines</div>
      </div>
      <div class="foot-card1">
        <div class="foot-text">Open API's</div>
      </div>
      
    </div>
  </div>

  <div>
    <div>
      <div class="foot-card1">
        <div class="foot-text"><b><u>About</u> </b></div>
      </div>
      <div class="foot-card1">
        <div class="foot-text">About Co-WIN</div>
      </div>
      <div class="foot-card1">
        <div class="foot-text">Terms of Services</div>
      </div>
      <div class="foot-card1">
        <div class="foot-text">Privacy Policy</div>
      </div>
      <div class="foot-card1">
        <div class="foot-text">Cookies Policy</div>
      </div>
      
    </div>
  </div>

</div>
<div id="footer-last">
<div id="last">
  <div >
    <p>Copyright © Dhanush 2023</p>
  </div>
</div>
</div>
  </body>
</html>
