<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <script type="text/javascript"></script> -->
</head>

<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Covid-19 Vaccination</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/vacciness}">Vaccines</a>
            </li>
            
          </ul>
        </div>
      </nav>

    <div class="container">

        <div class="row">
            <h1>List</h1>

        </div>

        <div class="row">

            <div class="col-lg-3">
                <a th:href="@{/vaccines/new}" class="btn btn-primary btn-sm mb-3">Add Vaccine</a>

            </div>

        </div>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">

                <tr>
                    <th>vaccineName</th>
                    <th>description</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="vaccine: ${vaccines}">

                    <td th:text  = "${vaccine.vaccineName}"></td>
                    <td th:text  = "${vaccine.description}"></td>
                    
                <td>
                    <a th:href="@{/vaccines/edit/{vaccineId}(vaccineId=${vaccine.vaccineId})}"
                    class="btn btn-primary" th:method="patch">Update</a>

                    <a th:href="@{/vaccines/{vaccineId}(vaccineId=${vaccine.vaccineId})}"
                    class="btn btn-danger" th:method="delete">Delete</a> 
                </td>
                </tr>
            </tbody>

        </table>
    </div>


</body>

</html>